@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #dfe;
  background: rgba(0, 113, 113, 0.153);
  transition: all 0.3s ease;
}
